.header  {
color: green;
font-size: 100px ;
}
h2 {
  color:red;
  font-size: 50px;
}
#box1 {
height: 100px;
Width: 900px;
border: 3px Solid blue;
background-color: yellow;
border-radius: 4px;
margin-left:20px;
padding-top:10px;
Padding-left:20%;
}
