.header  {
color: green;
font-size: 100px ;
}
h2 {
  color:red;
  font-size: 50px;
}
#box1 {
height: 200px;
Width:700px;
border: 3px Solid blue;
background-color: yellow;
border-radius: 4px;
margin-left:20px;
padding-bottom:20px;
Padding-left:50px;
}
